# Docker / Hadoop volumes
docker-compose-stack/**/data_new/
**/datanode/
**/namenode/
**/yarn/
**/tmp/
**/*.log

# Python cache
__pycache__/
*.pyc

# Spark / Zeppelin
.metastore_db/
.derby.log

# Large binaries
*.jar
*.zip
*.tar
*.gz
